body{
background-color:white;
}
.teclado{
 margin:0px 10px 10px 28px; 
}
.margem{
 margin-left:0px !important;
 margin-right: 0px !important;
}

.btnAdmin{
    position:fixed;
    margin-top:0;
    margin-right:0;
    width:100px;
    height:40px;
    background-color:transparent;
    border:none;
}

.avisos{
    background-color: rgba(0,0,0,.5);
    margin-left: 0px;
    margin-top:0px;
    height: 365px;
    border-radius:10px;
    border-bottom-left-radius:0px ;
    border-top-left-radius:0px ;
    border-top-right-radius: 0px;
}

.avisostopbar{
    height: 10px;
    background-color:#F54D17;
    margin-top:10px;
    margin-left:0px;
    margin-bottom:0px;
    border-radius: 10px;
    border-top-left-radius:0px ;
    border-bottom-left-radius:0px ;
    border-bottom-right-radius: 0px;
}

.btnAdmin:focus{
    border:none;
    background-color: Transparent;
    outline:0;
}

.status {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    color:white;
    background-color:#F54D17;
    text-align:center;
    align-content:center;
    height:55px;
    margin-top: 0px;
    margin-bottom:0px;
    padding-bottom:15px;
    font-size:40px;
    font-weight:bolder;
    width:100%;
}

.header{
    margin-top: 15px;
    margin-left:5px;
    margin-right:10px;
    width:100%;
    text-align:center;
    color: white;
}

.btnUpdate{
    padding: 0px;
    border:none;
    background-color: Transparent;
}

.btnUpdate:focus{
    padding: 0px;
    border:none;
    background-color: Transparent;
    outline:0;
}

.topbar{
    width:100%;
    margin-left:5px;
    margin-right:10px;
    height:5px;
    background-color:#F54D17;
    border-radius:5px;
}

.footer {
    color:white;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.btnDireita{
  display: block;
  border:none;
  background-color: Transparent;
  margin: 10px;
  padding: 10px;
  width: 280px;
}

.btnDireita:focus{
    outline:0;
}

.btnDireita:active{
    outline:0;
}

.botao{
      height: 55px;
      font-size: 20px;
      margin:2px;
      width:85px;
      font-weight:bolder;
    text-align:center;
	font:Arial, sans-serif;
	text-align: center;
	color: #111;
	background-color: #ddd;
	background-image: -webkit-linear-gradient(top, #bbb, #eee);
	background-image:    -moz-linear-gradient(top, #bbb, #eee);
	background-image:     -ms-linear-gradient(top, #bbb, #eee);
	background-image:      -o-linear-gradient(top, #bbb, #eee);
	border-top: 1px solid #fff;
	border-radius: 3px;
	box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.7);

}

.botao:focus{
    outline:none;
}


.visor{
    background-color : #C0C0C0;
    margin: 15px;
    margin-bottom:5px;
    height: 50px;
    border: 1px solid black;
    font-size:60px;
    color:black;
}

.componente_teclado{
    border-radius:10px;
    margin:5px;
    margin-top:10px;
    background: #222;
	background-image: -webkit-linear-gradient(top, #222, #333, #333, #222);
	background-image:    -moz-linear-gradient(top, #222, #333, #333, #222);
	background-image:     -ms-linear-gradient(top, #222, #333, #333, #222);
	background-image:      -o-linear-gradient(top, #222, #333, #333, #222);
	border: 1px solid #111;
	box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.6);
}

.color:hover
{
    background:#53a7ea;
}
.botao:active
{
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

html{
    overflow-y: hidden;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.7); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-image:url('../imagens/btnPlanoFundo.png');
  background-size:cover;
  margin: 5% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

.modal-content-agendamento {
  background-image:url('../imagens/btnPlanoFundo.png');
  background-size:cover;
  margin: 1% auto; /* 15% from the top and centered */
  padding:0px;
  border: 1px solid #888;
  border-radius:5px;
  width: 70%; /* Could be more or less, depending on screen size */
}

.btnConfig{
      height: 45px;
      font-size: 20px;
      margin:2px;
      font-weight:bolder;
    text-align:center;
	font:Arial, sans-serif;
	text-align: center;
	color: #111;
	background-color: #ddd;
	background-image: -webkit-linear-gradient(top, #bbb, #eee);
	background-image:    -moz-linear-gradient(top, #bbb, #eee);
	background-image:     -ms-linear-gradient(top, #bbb, #eee);
	background-image:      -o-linear-gradient(top, #bbb, #eee);
	border-top: 1px solid #fff;
	border-radius: 3px;
	box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.7);
}

.btnConfig:focus{
    outline:none;
}


.loader {
    margin-left: 90px;
    margin-top:100px;
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #F54D17; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,.8);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 20px;
  color: white;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.btnAgendamento{
    margin-top:20px;
    width:130px;
    padding:10px;
    font-size:25px;
    font-weight:bold;
    border:none;
    border-radius:10px;
    color:white;box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    background-image:linear-gradient(to bottom, #f54d14, #ec4a14, #e34714, #da4514, #d14214);
}

.btnAgendamento:focus{
    outline:none;
}

.btnAgendamento:active{
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

option{
    font-size:20px;
    padding:5px;
}

.painelAgendamento{
    text-align:center;
    padding-left:5px;
    padding-right:5px;
    background: #222;
    margin-left:0px;
    width:560px;
	background-image: -webkit-linear-gradient(top, #222, #333, #333, #222);
	background-image:    -moz-linear-gradient(top, #222, #333, #333, #222);
	background-image:     -ms-linear-gradient(top, #222, #333, #333, #222);
	background-image:      -o-linear-gradient(top, #222, #333, #333, #222);
}

.btn35{
    font-size:20px;
    font-weight:bolder;
    text-align:center;
	font:Arial, sans-serif;
	text-align: center;
	color: #111;
	background-color: #ddd;
	background-image: -webkit-linear-gradient(top, #bbb, #eee);
	background-image:    -moz-linear-gradient(top, #bbb, #eee);
	background-image:     -ms-linear-gradient(top, #bbb, #eee);
	background-image:      -o-linear-gradient(top, #bbb, #eee);
	border-top: 1px solid #fff;
	border-radius: 3px;
	box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.7);
    margin-top:5px;
    width:100%;
    height:100%;
    margin-left:6px;
}


.btn10{
    font-size:10px;
    font-weight:bolder;
    text-align:center;
	font:Arial, sans-serif;
	text-align: center;
	color: #111;
	background-color: #ddd;
	background-image: -webkit-linear-gradient(top, #bbb, #eee);
	background-image:    -moz-linear-gradient(top, #bbb, #eee);
	background-image:     -ms-linear-gradient(top, #bbb, #eee);
	background-image:      -o-linear-gradient(top, #bbb, #eee);
	border-top: 1px solid #fff;
	border-radius: 3px;
	box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.7);
    margin-top:10px;
    width:20%;
    height:20%;
    margin-left:6px;
}

.btn20{
    font-size:18px;
    font-weight:bolder;
    text-align:center;
	font:Arial, sans-serif;
	text-align: center;
    width:100%;
    height:60px;
}


.rowfooter{
    height:20px;
    width:100%;
    margin-top:120px;
}

.colfooter{
    padding:0px;
    margin:0px;
}

.pfooter{
    color:black;
    font-size:15px;
    font-weight:bolder;
    margin:0px;
}

.rowBtn35{
    width:100%;
    height:100px;
    margin:10px;
    margin-left:7px;
}


.rowBtn20{
    width:100%;
    height:100%;
    margin-left:7px;
}


.rowBtn10{
    width:100%;
    height:80px;
    margin:10px;
    margin-left:7px;
}


.rowBtn17{
    width:100%;
    height:65px;
    margin:10px;
    margin-left:7px;
}

.modal-content-teclado {
  margin: 0px; /* 15% from the top and centered */
  margin-left:10px;
  padding:0px;
  border: none;
  border-radius:5px;
  width: 60%; /* Could be more or less, depending on screen size */
}

.modal-content-op {
  margin: 0px; /* 15% from the top and centered */
  padding:0px;
  border: none;
  border-radius:5px;
  width: 100%; /* Could be more or less, depending on screen size */
  height:480px;
  background-color:black;
}

.modal-content-av {
  margin: 0px; /* 15% from the top and centered */
  margin-left:10px;
  padding:0px;
  border: none;
  border-radius:5px;
  width: 60%; /* Could be more or less, depending on screen size */
}

/* Modal Content/Box */
.modal-content-loading {
    text-align:center;
    background-color: transparent;
    margin: 0px; /* 15% from the top and centered */
    padding: 0px;
    border: none;
    width: 60%; /* Could be more or less, depending on screen size */
}

.botao35{
    height:75px;
    font-size:22px;
    margin:2px;
    width:107px;
    font-weight:bolder;
    text-align:center;
    font:Arial, sans-serif;
    text-align: center;
    color: #111;
    background-color: #ddd;
    background-image: -webkit-linear-gradient(top, #bbb, #eee);
    background-image:    -moz-linear-gradient(top, #bbb, #eee);
    background-image:     -ms-linear-gradient(top, #bbb, #eee);
    background-image:      -o-linear-gradient(top, #bbb, #eee);
    border-top: 1px solid #fff;
    border-radius: 3px;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.7);
}

.passinput{
    font-size:60px;
    font-weight:bolder;
    text-align:center;
    height:80px;
    width:180px !important;
    margin-top:50px;
    margin-left:10px;
    color:black;
    background-color:white;
}

#resultadoText{
    padding-left:10px;
    margin-top:150px;
    font-size:30px;
    font-weight:bolder;
    color:white;
    text-align:center;
    witdh:100%;
}

.lConfig{
    color:white;
    font-size:20px;
    margin-left:10px;
    margin-top:3px;
}

.sConfig{
    margin-left:6px;
    font-size:20px;
    width:100px;
}

.btnResult{
    width:120px;
    height:120px;
    border-radius:50%;
    margin-left:90px;
}