<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styleC.css') }}">
    <script src="{{ url_for('static', filename='js/jquery-3.3.1.js') }}"></script>
    <script src="{{ url_for('static', filename='js/javascriptC.js') }}"></script>
</head>
<body  background="{{ url_for('static', filename='imagens/btnPlanoFundo.png')}}">
    <div class="row">
        <div class="col-7">
            <div class="status">
                Cadastro de usuário
           </div>
            <div class="avisos board">
                <div id="aviso1" style="+263margin:20px">
                    Informe um pin para iniciar o cadastro.
                </div>
                <div id="aviso2" style="margin:20px">

                </div>
                <div id="aviso3" style="margin:20px">

                </div>
                <div id="aviso4" style="margin:20px">

                </div>
            </div>
        </div>

        <div class="col-5">
            <div class = "componente_teclado">
                <div class ="visor row">
                    <input id="pass" type="password" class = "visor_valor col-md-12" style = "height:100%;text-align:center;font-size:30px;">
                </div>
                <div class = "teclado" style = "margin:0px 30px 30px 30px;">
                    <div class ="row">
                        <button class = "botao" onclick = "calc('Y')">Y</button>
                        <button class = "botao" onclick = "calc('D')">D</button>
                        <button class = "botao" onclick = "calc('O')">O</button>
                    </div>
                    <div class ="row">
                        <button class = "botao" onclick = "calc(7)">7</button>
                        <button class = "botao" onclick = "calc(8)">8</button>
                        <button class = "botao" onclick = "calc(9)">9</button>
                    </div>
                    <div class ="row">
                        <button class = "botao" onclick = "calc(4)">4</button>
                        <button class = "botao" onclick = "calc(5)">5</button>
                        <button class = "botao" onclick = "calc(6)">6</button>
                    </div>
                    <div class ="row">
                        <button class = "botao" onclick = "calc(1)">1</button>
                        <button class = "botao" onclick = "calc(2)">2</button>
                        <button class = "botao" onclick = "calc(3)">3</button>
                    </div>
                    <div class ="row">
                        <button class = "botao" onclick = "calc(-1)">&larr;</button>
                        <button class = "botao" onclick = "calc(0)">0</button>
                        <button class = "botao" onclick = "calc(-2)">OK</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

<div class="footer">
    <div class="row">
        <h5 id="data" class="col-md-2">
            {{ data }}
        </h5>
        <h5 id="hora" class="col-md-2">
            {{ hora }}
        </h5>
        <h5 class="col-md-2">

        </h5>
        <h5 id="con" class="col-md-2">
            {{ conexao }}
        </h5>
        <h5 class="col-md-2">
            {{ device }}
        </h5>
        <h5 class="col-md-2">
            {{ versao }}
        </h5>
    </div>
</div>
</body>
</html>