<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='fontawesome-free-5.7.2-web/css/all.css') }}" >
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap-grid.min.css') }}">
    <script src="{{ url_for('static', filename='js/jquery-3.3.1.js') }}"></script>
    <script src="{{ url_for('static', filename='js/javascript.js') }}"></script>
    <script src="{{ url_for('static', filename='css/bootstrap.min.js') }}"></script>
</head>
<body>

    <div class="row margem">
        <div class="col-8">
            <button type="button" style="margin-left:-15px; background-color:#FFF" class="btn btn-default" onclick="exibirModalOp();"> <i style="color:#FFF" class="fa fa-cog"></i> </button>
        </div>
    </div>

    <div class="row margem" style="height:335px;">
        <div class="col-8" style="margin-top:180px;margin-left:45px;">
            <img draggable="false" style="width:200px;" src="{{ url_for('static', filename='imagens/logo.png')}}">
            <p style="font-size: 12px; color:#ff0000; margin-left:25px; margin-bottom:-40px;">Toque abaixo para digitar</p>
            <input id="inputPass" onfocus="exibirTecladoEntrada()" type="password" class="passinput">
            <input id="inputOp" type="password" class="passinput" style="display:none;" disabled>
            <p id="pModo" class="pFooter text-center" style="color:black;font-weight:bolder;width:180px;margin-left:10px;">Pin de Acesso</p>
        </div>
    </div>

    <div class="row rowfooter">
        <div class="col-2 colfooter">
            <p id="data" class="pfooter">{{ data }}</p>
        </div>
        <div class="col-2 colfooter" style="margin-left:10px;">
            <p id="hora" class="pfooter">{{ hora }}</p>
        </div>
        <div class="col-2 colfooter">
            <p class="pfooter">{{ device }}</p>
        </div>
        <div class="col-2 colfooter">
            <p id="con" class="pfooter">{{ conexao }}</p>
        </div>
    </div>

    <div id="ModalAviso" class="modal">
        <div class="modal-content-av">

            <div class="row rowBtn35">
                <div class="col-8" style="text-align:center;">
                    <div id="resultado" style="margin-top:100px;">

                    </div>
                </div>
            </div>
            <div class="row rowBtn35">
                <div class="col-12" style="text-align:center;">
                    <p id="resultadoText">

                    </p>
                </div>
            </div>

            <div class="row rowBtn35">
                <div class="col-8" style="text-align:center;">
                    <p id="av1">

                    </p>
                </div>
            </div>

            <div class="row rowBtn35">
                <div class="col-8" style="text-align:center;">
                    <p id="av2">

                    </p>
                </div>
            </div>
        </div>
    </div>

    <div id="ModalOpcoes" class="modal">
        <div class="modal-content-op">

            <div class="row rowBtn17">
                <div class="col-8">
                    <button class="btn35" onclick="Cadastrar()">Cadastrar</button>
                </div>
            </div>

            <div class="row rowBtn17">
                <div class="col-8">
                    <button class="btn35" onclick="exibirModalCOnfig()">Configurações</button>
                </div>
            </div>

            <div class="row rowBtn17">
                <div class="col-8">
                    <button class="btn35" onclick="update()">Atualizar Banco</button>
                </div>
            </div>

            <div class="row rowBtn17">
                <div class="col-8">
                    <button class="btn35" onclick="updateApp()">Atualizar App</button>
                </div>
            </div>

            <div class="row rowBtn17">
                <div class="col-8">
                    <button class="btn35" onclick="reboot()">Reiniciar</button>
                </div>
            </div>

            <div class="row rowBtn17">
                <div class="col-8">
                    <button class="btn35" onclick="closeOp()">Sair</button>
                </div>
            </div>

        </div>
    </div>

    <div id="ModalTecladoEntrada" class="modal" style="display:none; width:320px !important ; overflow-x:hidden;  overflow-y:hidden;">
        <div class="modal-content-op" style="overflow-x:hidden;  overflow-y:hidden;">

            <div class = "componente_teclado">
                <div class ="visor row">
                    <input id="pinEntrada" type="password" class = "col-md-12" disabled>
                </div>
                <div style="margin: 60px 1px 5px 15px;">
                    <div class ="row">
                        <div  class = "col-md-12">
                            <a href="javascript:;" style="font-size: 14px;" onclick="fecharTecladoEntrada()" class="pull-right">
                                <i style="font-size: 14px;" class="fa fa-times"></i> Fechar
                            </a>
                        </div>
                    </div>

                    <div class ="row" style="margin-top:20px;">
                        <div  class = "col-md-12">
                            <button class = "botao" onclick = "tecladoInputEntrada('y')">Y</button>
                            <button class = "botao" onclick = "tecladoInputEntrada('d')">D</button>
                            <button class = "botao" onclick = "tecladoInputEntrada('o')">O</button>
                        </div>
                    </div>
                    <div class ="row">
                        <div  class = "col-md-12">
                            <button class = "botao" onclick = "tecladoInputEntrada('7')">7</button>
                            <button class = "botao" onclick = "tecladoInputEntrada('8')">8</button>
                            <button class = "botao" onclick = "tecladoInputEntrada('9')">9</button>
                        </div>
                    </div>
                    <div class ="row">
                       <div  class = "col-md-12">
                            <button class = "botao" onclick = "tecladoInputEntrada('4')">4</button>
                            <button class = "botao" onclick = "tecladoInputEntrada('5')">5</button>
                            <button class = "botao" onclick = "tecladoInputEntrada('6')">6</button>
                        </div>
                    </div>
                    <div class ="row">
                       <div  class = "col-md-12">
                            <button class = "botao" onclick = "tecladoInputEntrada('1')">1</button>
                            <button class = "botao" onclick = "tecladoInputEntrada('2')">2</button>
                            <button class = "botao" onclick = "tecladoInputEntrada('3')">3</button>
                        </div>
                    </div>
                    <div class ="row">
                        <div  class = "col-md-12">
                            <button class = "botao" onclick = "apagarPinEntrada()">&larr;</button>
                            <button class = "botao" onclick = "tecladoInputEntrada(0)">0</button>
                            <button class = "botao" onclick = "confirmaInputEntrada()">OK</button>
                        </div>
                    </div>
                 </div>
             </div>
        </div>
    </div>

     <div id="ModalTecladoCadastro" class="modal" style="display:none; width:320px !important ; overflow-x:hidden;  overflow-y:hidden;">
        <div class="modal-content-op" style="overflow-x:hidden;  overflow-y:hidden;">

            <div class = "componente_teclado">
                <div class ="visor row">
                    <input id="pinCadastro" type="password" class = "col-md-12" disabled>
                </div>
                <div style="margin: 60px 1px 5px 15px;">
                    <div class ="row">
                        <div  class = "col-md-12">
                            <a href="javascript:;" style="font-size: 14px;" onclick="fecharTecladoCadastro()" class="pull-right">
                                <i style="font-size: 14px;" class="fa fa-times"></i> Fechar
                            </a>
                        </div>
                    </div>

                    <div class ="row" style="margin-top:20px;">
                        <div  class = "col-md-12">
                            <button class = "botao" onclick = "tecladoInputCadastro('y')">Y</button>
                            <button class = "botao" onclick = "tecladoInputCadastro('d')">D</button>
                            <button class = "botao" onclick = "tecladoInputCadastro('o')">O</button>
                        </div>
                    </div>
                    <div class ="row">
                        <div  class = "col-md-12">
                            <button class = "botao" onclick = "tecladoInputCadastro('7')">7</button>
                            <button class = "botao" onclick = "tecladoInputCadastro('8')">8</button>
                            <button class = "botao" onclick = "tecladoInputCadastro('9')">9</button>
                        </div>
                    </div>
                    <div class ="row">
                       <div  class = "col-md-12">
                            <button class = "botao" onclick = "tecladoInputCadastro('4')">4</button>
                            <button class = "botao" onclick = "tecladoInputCadastro('5')">5</button>
                            <button class = "botao" onclick = "tecladoInputCadastro('6')">6</button>
                        </div>
                    </div>
                    <div class ="row">
                       <div  class = "col-md-12">
                            <button class = "botao" onclick = "tecladoInputCadastro('1')">1</button>
                            <button class = "botao" onclick = "tecladoInputCadastro('2')">2</button>
                            <button class = "botao" onclick = "tecladoInputCadastro('3')">3</button>
                        </div>
                    </div>
                    <div class ="row">
                        <div  class = "col-md-12">
                            <button class = "botao" onclick = "apagarTecladoCadastro()">&larr;</button>
                            <button class = "botao" onclick = "tecladoInputCadastro(0)">0</button>
                            <button class = "botao" onclick = "confirmarCadastro()">OK</button>
                        </div>
                    </div>
                 </div>
             </div>
        </div>
    </div>


    <div id="ModalConfig" class="modal">
        <div class="modal-content-op">

            <div class="row rowBtn35">
                <div class="col-8">
                    <span class="badge badge-primary sConfig">IP</span><label id="ip_numero" class="lConfig"> </label><br>
                </div>
            </div>

            <div class="row rowBtn35"  style="margin-top:-75px">
                <div class="col-8">
                   <span class="badge badge-primary sConfig">IOT</span><label class="lConfig" id="lblDevice"> {{ device }}</label><br>
                     <div class ="visor row" style="margin-top:-6px;">
                        <input id="altIot" type="text" class = "visor_valor col-md-6" style = "text-align:center;font-size:15px;">
                     </div>
                     <table>
                        <tr>
                            <td><button class = "btn" onclick = "tecladoAltIot('0')">0</button></td>
                            <td><button class = "btn" onclick = "tecladoAltIot('1')">1</button></td>
                            <td><button class = "btn" onclick = "tecladoAltIot('2')">2</button></td>
                            <td><button class = "btn" onclick = "tecladoAltIot('3')">3</button></td>
                            <td><button class = "btn" onclick = "tecladoAltIot('4')">4</button></td>
                            <td><button class = "btn" onclick = "tecladoAltIot('5')">5</button></td>
                        </tr>
                        <tr>
                            <td><button class = "btn" onclick = "tecladoAltIot('6')">6</button></td>
                            <td><button class = "btn" onclick = "tecladoAltIot('7')">7</button></td>
                            <td><button class = "btn" onclick = "tecladoAltIot('8')">8</button></td>
                            <td><button class = "btn" onclick = "tecladoAltIot('9')">9</button></td>
                            <td colspan="2"><button style="width:100%;" class = "btn" onclick = "apagarAltIot()"><-</button></td>
                        </tr>
                     </table>
                </div>
            </div>

            <div class="row rowBtn35" style="margin-top:85px;">
                <div class="col-8">
                    <span class="badge badge-primary sConfig">Abertura</span><label class="lConfig" id="lblTimer"> {{ timer }}s</label>
                    <div class ="visor row" style="margin-top:-6px;">
                        <input id="altAbt" type="text" class = "visor_valor col-md-6" style = "text-align:center;font-size:15px;">
                    </div>
                    <table>
                        <tr>
                            <td><button class = "btn" onclick = "tecladoAltAbt('0')">0</button></td>
                            <td><button class = "btn" onclick = "tecladoAltAbt('1')">1</button></td>
                            <td><button class = "btn" onclick = "tecladoAltAbt('2')">2</button></td>
                            <td><button class = "btn" onclick = "tecladoAltAbt('3')">3</button></td>
                            <td><button class = "btn" onclick = "tecladoAltAbt('4')">4</button></td>
                            <td><button class = "btn" onclick = "tecladoAltAbt('5')">5</button></td>
                        </tr>
                        <tr>
                            <td><button class = "btn" onclick = "tecladoAltAbt('6')">6</button></td>
                            <td><button class = "btn" onclick = "tecladoAltAbt('7')">7</button></td>
                            <td><button class = "btn" onclick = "tecladoAltAbt('8')">8</button></td>
                            <td><button class = "btn" onclick = "tecladoAltAbt('9')">9</button></td>
                            <td colspan="2"><button style="width:100%;" class = "btn" onclick = "apagarAltAbt()"><-</button></td>
                        </tr>
                    </table>
                </div>
            </div>

            <div class="row margem" style="margin-top:85px">
                <div class="col-4" style="padding:2px;">
                    <button class="btn btn-danger btn20" onclick="closeConfig()">Sair</button>
                </div>
                <div class="col-4" style="padding:2px;">
                    <button class="btn btn-success btn20" onclick="confirmarAlteracao()">Confirmar</button>
                </div>
            </div>

        </div>
    </div>

    <div id="loading" class="modal">
        <div class="modal-content-loading">
            <div class="row">
                <div class="col-md-12" id="updateStatus">
                    <div class="loader"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                   <p id="updatemsg" style="color:white;font-weight:bolder;font-size:30px;margin-top:20px;">Atualizando</p>
                </div>
            </div>
        </div>
    </div>

</body>
</html>
