{% extends 'estrutura.html' %}
{% block title %}This is an example page{% endblock %}

{% block content %}
    <h5>Esse é um bloco de um template para testes</h5>
    <h5>Esse é um bloco de um template para testes</h5>
    <h5>Esse é um bloco de um template para testes</h5>
    <h5>Esse é um bloco de um template para testes</h5>
    <h5>Esse é um bloco de um template para testes</h5>
    <h5>Esse é um bloco de um template para testes</h5>
    <h5>Esse é um bloco de um template para testes</h5>
    <h5>Esse é um bloco de um template para testes</h5>
    <h5>Esse é um bloco de um template para testes</h5>
    <h5>Esse é um bloco de um template para testes</h5>
{% endblock %}