{% extends 'estrutura35.html' %}

{% block detalhes %}
    <div class="row">
        <div class="col-md-6">
            Entrar
        </div>
        <div class="col-md-6">
            Cadastrar
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            Configurações
        </div>
        <div class="col-md-6">
            Nao Definido
        </div>
    </div>
{% endblock %}

{% block boxdireita %}

{% endblock %}


