{% extends 'estrutura.html' %}

{% block detalhes %}
<p id="aviso" class="status_box_text" style="color:white;padding:10px;margin-top:20px; font-size:22px;text-align:center;width:100%;">

</p>
<p id="aviso2" style="color:white;padding-left:60px;font-size:20px;"></p>
<p id="aviso3" style="color:white;padding-left:60px;font-size:20px;"></p>
{% endblock %}

{% block boxdireita %}

<div class = "componente_teclado">
    <div class ="visor row">
        <input type="password" class = "visor_valor col-md-12" disabled style="text-align:center;height:50px;">
    </div>
    <div class = "teclado">
        <div class ="row">
            <button class = "botao" onclick = "calc('y')">Y</button>
            <button class = "botao" onclick = "calc('d')">D</button>
            <button class = "botao" onclick = "calc('o')">O</button>
        </div>
        <div class ="row">
            <button class = "botao" onclick = "calc(7)">7</button>
            <button class = "botao" onclick = "calc(8)">8</button>
            <button class = "botao" onclick = "calc(9)">9</button>
        </div>
        <div class ="row">
            <button class = "botao" onclick = "calc(4)">4</button>
            <button class = "botao" onclick = "calc(5)">5</button>
            <button class = "botao" onclick = "calc(6)">6</button>
        </div>
        <div class ="row">
            <button class = "botao" onclick = "calc(1)">1</button>
            <button class = "botao" onclick = "calc(2)">2</button>
            <button class = "botao" onclick = "calc(3)">3</button>
        </div>
        <div class ="row">
            <button class = "botao" onclick = "calc(-1)">&larr;</button>
            <button class = "botao" onclick = "calc(0)">0</button>
            <button class = "botao" onclick = "calc(-2)">OK</button>
        </div>
    </div>
</div>
{% endblock %}


