{% extends 'estrutura.html' %}

{% block detalhes %}
<div id="status" class="status">{{ status }}</div>
<div class="row" style="margin:0px;width:466px;text-align:center;">
    <div class="col-md-12" style="text-align:center;">
        <p id="proximaReuniao" style="color:white;padding-top:5px;font-size:20px;">Próxima Reunião: {{ responsavel }}</p>
    </div>
</div>
<div class="row" style="height:40px;margin:0px;width:466px;text-align:center;">
    <div class="col-md-6" style="text-align:center;">
        <p id="inicio" style="color:white;font-size:20px;height:30px;margin-bottom:0px;">Início: {{ inicio }}</p>
    </div>
    <div class="col-md-6" style="text-align:center;">
        <p id="fim" style="color:white;font-size:20px;height:30px;margin-bottom:0px;">Fim: {{ fim }}</p>
    </div>
</div>
<div class="row" style="margin:0px;width:466px;text-align:center;">
    <div class="col-md-12" style="text-align:center;">
        <p id="aviso" class="status_box_text" style="color:white;height:30px; font-size:20px;"></p>
    </div>
</div>
<div class="row" style="margin:0px;width:466px;text-align:center;">
    <div class="col-md-12" style="text-align:center;">
        <button id="ence" class='botao' onclick='encerrar()' style='visibility:hidden;height:50px;width:200px;'>Encerrar</button>
    </div>
</div>
{% endblock %}

{% block boxdireita %}
<div class="first">
<div class = "componente_teclado">
    <div class ="visor row">
        <input type="password" class = "visor_valor col-md-12" disabled style="text-align:center;height:50px;">
    </div>
    <div class = "teclado">
        <div class ="row">
            <button class = "botao" onclick = "calc('y')">Y</button>
            <button class = "botao" onclick = "calc('d')">D</button>
            <button class = "botao" onclick = "calc('o')">O</button>
        </div>
        <div class ="row">
            <button class = "botao" onclick = "calc(7)">7</button>
            <button class = "botao" onclick = "calc(8)">8</button>
            <button class = "botao" onclick = "calc(9)">9</button>
        </div>
        <div class ="row">
            <button class = "botao" onclick = "calc(4)">4</button>
            <button class = "botao" onclick = "calc(5)">5</button>
            <button class = "botao" onclick = "calc(6)">6</button>
        </div>
        <div class ="row">
            <button class = "botao" onclick = "calc(1)">1</button>
            <button class = "botao" onclick = "calc(2)">2</button>
            <button class = "botao" onclick = "calc(3)">3</button>
        </div>
        <div class ="row">
            <button class = "botao" onclick = "calc(-1)">&larr;</button>
            <button class = "botao" onclick = "calc(0)">0</button>
            <button class = "botao" onclick = "calc(-2)">OK</button>
        </div>
    </div>
</div>
</div>
{% endblock %}
