{% extends 'estrutura.html' %}

{% block detalhes %}
<p id="aviso" class="status_box_text" style="color:white;padding-left:10px; margin-left:15px;font-size:30px;font-weight: bold;">

</p>
{% endblock %}

{% block boxdireita %}
<div class="first" style="height:50%;">
    <div class="entrar col-md-3">
        <button onclick="exibirTeclado()" class="btnDireita"><img class="img-fluid" src="../static/imagens/btnAcesso.png">
        </button>
    </div>
</div>
<div class="second" style="height:50%;">
    <div class="AgendarReuniao col-md-3">
        <button id="btn3" class="btnDireita" onclick="iniciarLimpeza()" hidden="true"><img id="img3" alt="Responsive image" class="img-fluid"
                                        src="../static/imagens/btnIniciarLimpeza.png">
        </button>
    </div>
    <div class="SolicitarLimpeza col-md-3">
        <button id="btn4" class="btnDireita" onclick="solicitarLimpeza()" hidden="true"><img id="limpeza" alt="Responsive image" class="img-fluid"
                                        src="../static/imagens/btnSolicitarLimpeza.png" ;="">
        </button>
    </div>
</div>
{% endblock %}